body {
  background-color: #A8DBE4;
  color: #132A3E;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#quiz, .destinations, #footer {
  background-color: #D7F2F7;
  padding: 8px;
  border: 1px solid #4C94A1;
  border-radius: 5px;
  margin-bottom: 10px;
}

#footer {
  margin: 16px;
  text-align: center;
}

.jumbotron {
  background-color: #78BBC8;
  color: #F7F7F7;
  padding: 20px;
  text-align: center;
  border: 2px solid #4C94A1;
  border-radius: 5px;
  height: 10%;
}

.destinations img {
  max-width: 90%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.destinations div {
  display: none;
}

.destinations h3 {
  text-align: center;
}

.error {
  color: red;
  display: none;
}
